body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #4a90e2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #357abd;
}

/* New section for top 5 breeds */
#topBreeds {
    display: inline-block;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width for the section */
    vertical-align: top;
}

#topBreeds h2 {
    color: #4a90e2;
}

#topBreeds ul {
    list-style: none;
    padding: 0;
}

#topBreeds ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prediction {
    padding: 15px;
    background-color: #e6f7ff;
    border-left: 5px solid #4a90e2;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.prediction h3 {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.top-breed {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

#results img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    object-fit: cover;
}
